/* Navbar.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --accent-color: rebeccapurple;
    --main-transition: all 0.3s ease-in-out;
}

.nav {
    background-color: black;
}

.nav-links .logo a {
    font-size: 20px;
    color: var(--accent-color);
    font-weight: 500;
}

.nav-links .logo a span {
    font-weight: 500;
    font-size: 27px;
    color: white;
    background-color: var(--accent-color);
    border-radius: 50%;
    padding: 8px;
}

.nav .nav-links {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--main-transition);
    position: relative;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav a {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    transition: var(--main-transition);
    border-radius: 30px;
}

.nav a.current,
.nav .nav-links ul a:hover {
    color: var(--accent-color);
}

.nav-btn {
    display: none;
}

@media (max-width: 400px) {
    .nav-btn {
        display: block;
        position: absolute;
        left: 18em;
        top: 25px;
    }

    .nav ul {
        display: none;
    }

    #responsive {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5em;
        background: rgba(230, 230, 230, 0.895);
        width: 90%;
        border-radius: 10px;
        z-index: 1;
        margin-top: 10px;
        animation: aa 100ms linear;
    }

    .nav .nav-links {
        flex-direction: column;
    }

    .nav a {
        color: black;
    }

    .nav-links .logo {
        margin-left: -13em;
        padding: 11px;
    }

    #responsive.open {
        display: flex;
    }

    #responsive.closed {
        display: none;
    }
}

@keyframes aa {
    0% {
        position: absolute;
        left: 10em;
        top: 2em;
    }

    100% {
        position: absolute;
        left: 0;
    }
}